<app-header></app-header>
<div class="flex grid">
    <div class="col-2">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-10">
        <p-toast></p-toast>
        <div class="grid m-3">
            <div class="col-4">
                <div class="bg-blue-50 border-round p-50">
                    <div class="card">
                        <div class="card-container overflow-hidden">
                            <div class="flex grid p-5">
                                <div class="col-12">
                                    <p-card header="Tài khoản" styleClass="p-card-shadow">
                                        <div class="text-center ">
                                            <p-inputNumber id="username" type="username"
                                                aria-describedby="username1-help" [(ngModel)]="systemInfo.asset"
                                                mode="currency" currency="VND" [disabled]="true">
                                            </p-inputNumber>
                                        </div>
                                        <ng-template pTemplate="footer" >
                                            <div class="text-center">
                                                <p-button label="Rút tiền" styleClass="p-button-link text-xs" [routerLink]="['/syswithdrawal']"></p-button>
                                                <p-button label="Doanh thu" styleClass="p-button-secondary p-button-link text-xs" [routerLink]="['/systransaction']"
                                                    [style]="{'margin-left': '.5em'}"></p-button>
                                            </div>
                                        </ng-template>
                                    </p-card>
                                </div>
                                <div class="col-12 card">
                                    <div class="field">
                                        <label for="username" class="block text-xs">Hoa hồng trên mỗi đơn hàng</label>
                                        <div class="grid">
                                            <div class="col">
                                                <p-inputNumber [(ngModel)]="systemInfo.commission_Precent"
                                                    inputId="percent" suffix="%" [disabled]="true"
                                                    (click)="showCommission_PrecentDialog()"></p-inputNumber>
                                            </div>
                                            <p-dialog header="Chỉnh sửa hoa hồng trên mỗi đơn hàng"
                                                [(visible)]="displayCommission_Precent" [modal]="true"
                                                [style]="{width: '30vw'}" [baseZIndex]="10000" [draggable]="false"
                                                [resizable]="false">
                                                <p-inputNumber [(ngModel)]="Commission_Precent" inputId="percent"
                                                    suffix="%"></p-inputNumber>
                                                <ng-template pTemplate="footer">
                                                    <p-button icon="pi pi-check"
                                                        (click)="editCommission_PrecentDialog()" label="Lưu" [loading]="checkbtn"
                                                        class="p-button-text"></p-button>
                                                    <p-button icon="pi pi-times"
                                                        (click)="displayCommission_Precent=false" [loading]="checkbtn"
                                                        label="Hủy"></p-button>
                                                </ng-template>
                                            </p-dialog>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label for="username" class="block text-xs">Phí mở gian hàng</label>
                                        <div class="grid">
                                            <div class="col">
                                                <p-inputNumber id="username" type="username"
                                                    aria-describedby="username1-help"
                                                    [(ngModel)]="systemInfo.amountActive" mode="currency" currency="VND"
                                                    [disabled]="true" (click)="showAmount_Dialog()">
                                                </p-inputNumber>
                                            </div>
                                            <p-dialog header="Chỉnh sửa phí mở gian hàng" [(visible)]="displayAmount"
                                                [modal]="true" [style]="{width: '30vw'}" [baseZIndex]="10000"
                                                [draggable]="false" [resizable]="false">
                                                <p-inputNumber id="username" type="username"
                                                    aria-describedby="username1-help" [(ngModel)]="Amount"
                                                    mode="currency" currency="VND">
                                                </p-inputNumber>
                                                <ng-template pTemplate="footer">
                                                    <p-button icon="pi pi-check" (click)="editAmount_Dialog()" [loading]="checkbtn"
                                                        label="Lưu" class="p-button-text"></p-button>
                                                    <p-button icon="pi pi-times" (click)="displayAmount=false"
                                                        label="Hủy"></p-button>
                                                </ng-template>
                                            </p-dialog>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label for="username" class="block text-xs">Phần trăm hoàn tiền khi đơn hàng thất
                                            bại</label>
                                        <div class="grid">
                                            <div class="col">
                                                <p-inputNumber [(ngModel)]="systemInfo.refund_Precent" inputId="percent"
                                                    prefix="%" [disabled]="true"
                                                    (click)="showRefund_PrecentDialog()"></p-inputNumber>
                                            </div>
                                        </div>
                                        <p-dialog header="Chỉnh sửa phần trăm hoàn tiền khi đơn hàng thất bại"
                                            [(visible)]="displayRefund_Precent" [modal]="true" [style]="{width: '30vw'}"
                                            [baseZIndex]="10000" [draggable]="false" [resizable]="false">
                                            <p-inputNumber [(ngModel)]="Refund_Precent" inputId="percent"
                                                suffix="%"></p-inputNumber>
                                            <ng-template pTemplate="footer">
                                                <p-button icon="pi pi-check" (click)="editRefund_PrecentDialog()" [loading]="checkbtn"
                                                    label="Lưu" class="p-button-text"></p-button>
                                                <p-button icon="pi pi-times" (click)="displayRefund_Precent=false"
                                                    label="Hủy"></p-button>
                                            </ng-template>
                                        </p-dialog>
                                    </div>
                                    <div class="field">
                                            <div class="field-checkbox m-2">
                                                <p-checkbox [(ngModel)]="systemInfo.co_Examination" [binary]="true" (onChange)="editCo_Examination()"></p-checkbox>
                                                <label *ngIf="systemInfo.co_Examination" class="text-xs">Cho phép đồng kiểm khi nhận hàng</label>
                                                <label *ngIf="!systemInfo.co_Examination" class="text-xs">Không cho phép đồng kiểm khi nhận hàng</label>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8 text-center">
                <div class="grid">
                    <div class="col-3 cursor-pointer" [routerLink]="['/searchsupplier']">
                        <p-card header="Gian hàng">
                            <div class="grid">
                                <div class="col text-xs" style="text-align: center;">
                                    {{systemInfo.totalSupplier}}
                                </div>
                            </div>
                        </p-card>
                    </div>
                    <div class="col-3 cursor-pointer" [routerLink]="['/searchuser']">
                        <p-card header="người mua">
                            <div class="grid">
                                <div class="col text-xs" style="text-align: center;">
                                    {{systemInfo.totalCustomer}}
                                </div>
                            </div>
                        </p-card>
                    </div>
                    <div class="col-3 cursor-pointer" [routerLink]="['/searchitem/0']">
                        <p-card header="Phụ tùng">
                            <div class="grid">
                                <div class="col text-xs" style="text-align: center;">
                                    {{systemInfo.totalItem}}
                                </div>
                            </div>
                        </p-card>
                    </div>
                    <div class="col-3 cursor-pointer" [routerLink]="['/order']">
                        <p-card header="Đơn hàng">
                            <div class="grid">
                                <div class="col text-xs" style="text-align: center;">
                                    {{systemInfo.totalOrder}}
                                </div>
                            </div>
                        </p-card>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-xs" style="font-size: 20px;">
                            Biểu đồ
                            <p-calendar [(ngModel)]="year" view="year" [style]="{'margin-left':'50px'}" dateFormat="yy" [maxDate]="maxyear"
                                placeholder="Năm" inputId="yearpicker" (onSelect)="changeChart()"></p-calendar>
                            <p-button label="Tất cả" (onClick)="allChart()" styleClass="p-button-link text-xs"></p-button>
                        <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>