<div style="background-color: aqua;">
    <p-menubar>
        <ng-template pTemplate="start">
            <div>
                <p-button label="eSMP" styleClass="p-button-link" [style]="{'font-size':'40px'}" routerLink="/home"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="end">
            <div class="flex">
                <div style="padding-top: 5px;">
                    <div *ngIf="check;">
                        <p-button label="Thông báo" icon="pi pi-bell" badge="8" styleClass="p-button-link" (click)="op.toggle($event)"  badgeClass="p-badge-danger"></p-button>
                        <p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '450px'}">
                            <ng-template pTemplate>
                                <p-table [value]="notilist" selectionMode="single" [paginator]="true" [rows]="5">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-product>
                                        <tr [pSelectableRow]="rowData">
                                            <td>{{product.name}}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </ng-template>
                        </p-overlayPanel>
                    </div>
                </div>
                <div>
                    <p-menubar [model]="items"></p-menubar>
                </div>
            </div>
        </ng-template>
    </p-menubar>
</div>