.info{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    padding: 20px 20px 20px 20px;
}
.button{
    margin-top: 2%;
    text-align: center;
}
:host ::ng-deep .p-inputtext{
    font-size: 0.75rem !important;
}