<app-header></app-header>
<div class="flex grid">
    <div class="col-2">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col">
        <p-toast></p-toast>
        <ng-template #falseload>
            <p-skeleton width="100%" height="100%"></p-skeleton>
        </ng-template>
        <div class="card grid h-full" *ngIf="brands!=undefined;else falseload">
            <div class="col-5 border-right-1 border-black-500">
                <div class="text-xl" style="margin-bottom: 10px;">Các hãng xe</div>
                <button pButton pRipple label="Thêm hãng xe" class="p-button-text text-sm" (click)="displayAddBrand=true" ></button>
                <p-dialog header="Thêm hãng xe" [(visible)]="displayAddBrand" [modal]="true"
                    [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
                    <input id="username" type="username" aria-describedby="username1-help" pInputText
                        [(ngModel)]="brandName" placeholder="Nhập hãng xe"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                    <ng-template pTemplate="footer">
                        <p-button icon="pi pi-check" (click)="addBrand()" label="Lưu" [loading]="checkbtn"
                            class="p-button-text"></p-button>
                        <p-button icon="pi pi-times" (click)="displayAddBrand=false" label="Hủy"></p-button>
                    </ng-template>
                </p-dialog>
                <div class="grid border-bottom-1 border-black-500" style="margin-top: 10px;"
                    *ngFor="let brand of brands">
                    <div class="col-8 cursor-pointer" (click)="getsubcategory(brand.brandID)" [ngClass]="{'text-cyan-500' :brandID == brand.brandID}">
                        <div class="flex text-base">{{brand.name}}</div>
                        <div class="flex text-base" *ngIf="brand.isActive; else cateblock">Hoạt động</div>
                        <ng-template #cateblock>
                            khóa
                        </ng-template>
                    </div>
                    <div class="col-4 text-center">
                        <div *ngIf="brand.isActive; else catebtnblock">
                            <button pButton pRipple label="Khóa" (click)="blockBrand(brand.brandID)" [loading]="checkbtn"
                                icon="pi pi-times" class="p-button-raised p-button-warning text-xs"></button>
                        </div>
                        <ng-template #catebtnblock>
                            <button pButton pRipple label="Kích hoạt" icon="pi pi-check" class="text-xs" [loading]="checkbtn"
                                (click)="activeBrand(brand.brandID)"></button>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div class="col-6" style="margin-left: 20px;">
                <div class="text-xl" style="margin-bottom: 10px; padding-left: 100px; ">Phương tiện</div>
                <button *ngIf="Motorcycles" pButton pRipple label="Thêm phương tiện"  (click)="displayAddMotorcyle=true"
                    class="p-button-text text-sm"></button>
                    <p-dialog header="Thêm phương tiện" [(visible)]="displayAddMotorcyle" [modal]="true"
                    [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
                    <input id="username" type="username" aria-describedby="username1-help" pInputText
                        [(ngModel)]="motorcycleName" placeholder="Nhập tên phương tiện"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
                    <ng-template pTemplate="footer">
                        <p-button icon="pi pi-check" (click)="addSubCategory()" label="Lưu" [loading]="checkbtn"
                            class="p-button-text"></p-button>
                        <p-button icon="pi pi-times" (click)="displayAddMotorcyle=false" label="Hủy"></p-button>
                    </ng-template>
                </p-dialog>
                <div class="grid border-bottom-1 border-black-500" style="margin-top: 10px;"
                    *ngFor="let motor of Motorcycles">
                    <div class="col-8">
                        <div class="flex text-base">{{motor.name}}</div>
                        <div class="flex text-base" *ngIf="motor.isActive; else cateblock">Hoạt động</div>
                        <ng-template #cateblock>
                            khóa
                        </ng-template>
                    </div>
                    <div class="col-4 text-center">
                        <div *ngIf="motor.isActive; else catebtnblock">
                            <button pButton pRipple label="Khóa" (click)="blockMotorcycle(motor.brand_ModelID)" [loading]="checkbtn"
                                icon="pi pi-times" class="p-button-raised p-button-warning text-xs"></button>
                        </div>
                        <ng-template #catebtnblock>
                            <button pButton pRipple label="Kích hoạt" icon="pi pi-check" class="text-xs" [loading]="checkbtn"
                                (click)="activeMotorcycle(motor.brand_ModelID)"></button>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>