<app-header></app-header>
<div class="flex grid">
    <div class="col-2">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col">
        <p-toast></p-toast>
        <div>
            <p-toolbar>
                <div class="p-toolbar-group-start">
                    <p-dropdown [options]="options" [(ngModel)]="option"></p-dropdown>
                    <p-calendar [(ngModel)]="from" placeholder="từ ngày" [maxDate]="to" [showSeconds]="true"
                        inputId="time"></p-calendar>
                    <p-calendar [(ngModel)]="to" placeholder="đến ngày" [minDate]="from" [showSeconds]="true"
                        inputId="time"></p-calendar>
                </div>
                <div class="p-toolbar-group-end">
                    <p-button icon="pi pi-search" (click)="searchtransaction()"></p-button>
                </div>
            </p-toolbar>
        </div>
        <div>
            <p-table [value]="listtransaction">
                <ng-template pTemplate="header">
                    <tr class="text-xs" *ngIf="curentoption==1">
                        <th>Mã</th>
                        <th>Mã đơn hàng</th>
                        <th>Mã giao dịch momo</th>
                        <th>Ngày tạo</th>
                        <th>Thành tiền</th>
                    </tr>
                    <tr class="text-xs" *ngIf="curentoption==2">
                        <th>Mã gian hàng</th>
                        <th>tên gian hàng</th>
                        <th>Mã giao dịch momo</th>
                        <th>Ngày kích hoạt</th>
                        <th>Thành tiền</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-transaction>
                    <tr class="text-xs" *ngIf="curentoption==1">
                        <td>
                            {{transaction.orderSystem_TransactionID}}
                        </td>
                        <td class="cursor-pointer"  [routerLink]="['/order']" [queryParams]="{orderID: transaction.orderStore_TransactionModel.orderID}">
                            {{transaction.orderStore_TransactionModel.orderID}}
                        </td>
                        <td>
                            {{transaction.orderStore_TransactionModel.momoTransaction}}
                        </td>
                        <td>
                            {{transaction.create_Date}}
                        </td>
                        <td>
                            {{transaction.price}} VND
                        </td>
                    </tr>
                    <tr class="text-xs" *ngIf="curentoption==2">
                        <td class="cursor-pointer"  (click)="viewdetail(transaction.storeID)">
                            {{transaction.storeID}}
                        </td>
                        <td>
                            {{transaction.storeName}}
                        </td>
                        <td>
                            {{transaction.momoTransaction}}
                        </td>
                        <td>
                            {{transaction.activeDate}}
                        </td>
                        <td>
                            {{transaction.amount}} VND
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div>
            <div style="text-align: center;">
                <p-button type="button" icon="pi pi-chevron-left" (onClick)="prev()"
                    styleClass="p-button-text"></p-button>
                <p-button type="button" label="{{page}}" styleClass="p-button-text"></p-button>
                <p-button type="button" icon="pi pi-chevron-right" (click)="next()"
                    styleClass="p-button-text"></p-button>
            </div>
        </div>
    </div>
</div>