<app-header></app-header>
<div class="flex grid">
    <div class="col-2">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col">
        <p-toast></p-toast>
        <div class="card grid text-sm">
            <div class="col-5">
                <div>
                    <p-image [src]="feedback.subItemImage" alt="Image" width="90%" [preview]="true"></p-image>
                </div>
                <div class="cursor-pointer p-2 text-sm" (click)="viewItemdetail(feedback.itemID)">
                    Mã sản phẩm: {{feedback.itemID}}
                </div>
                <div class="p-2 text-sm">
                    Tên Sản phẩm: {{feedback.sub_itemName}}
                </div>
            </div>
            <div class="col-7">
                <div class="flex align-items-center text-sm cursor-pointer" (click)="viewuserdetail(feedback.userID)">
                    <p-avatar [image]="feedback.useravatar" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
                    {{feedback.userName}}
                </div>
                <div class="p-2 text-sm">
                    <p-rating [ngModel]="feedback.rate" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
                </div>
                <div class="p-2 text-sm">
                    {{feedback.create_Date}}
                </div>
                <div class="p-2 text-sm">
                    Đánh giá: {{feedback.comment}}
                </div>
                <div class="p-2 text-sm">
                    <p-galleria [value]="feedback.imagesFB" [containerStyle]="{'max-width': '540px'}" [numVisible]="5"
                        [showThumbnails]="false" [showIndicators]="true" [changeItemOnIndicatorHover]="true"
                        [showIndicatorsOnItem]="true">
                        <ng-template pTemplate="item" let-imge>
                            <img [src]="imge.path" style="display: block; height: 400px;" />
                        </ng-template>
                        <ng-template pTemplate="thumbnail" let-imge>
                            <div class="grid grid-nogutter justify-content-center">
                                <p-image [src]="imge.path" height="80"></p-image>
                            </div>
                        </ng-template>
                    </p-galleria>
                </div>
                <div class="p-2 text-sm ">
                    Trạng thái: {{feedback.feedback_Status.statusName}}
                </div>
                <div class="flex align-items-end" style="height: 100px;">
                    <div class="col text-center">
                        <div *ngIf="feedback.feedback_Status.item_StatusID==2">
                            <button pButton pRipple label="Kích hoạt" (click)="activeFeedback(feedback.orderDetaiID)" class="text-xs" [loading]="checkbtn"
                                            icon="pi pi-check"></button>
                        </div>
                        <div *ngIf="feedback.feedback_Status.item_StatusID==1">
                            <button pButton pRipple label="khóa" (click)="blockFeedback(feedback.orderDetaiID)" class="p-button-raised p-button-warning text-xs"
                            icon="pi pi-times" [loading]="checkbtn"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>